*{
				margin: 0;
				padding: 0;
			}
			
.head{
	height: 6rem;
	line-height: 6rem;
	font-size: 1rem;
	text-align: center;
}			


.left{
	float: left;
}

.right{
	float: right;
}


.daohang li{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 1rem;
}


li{
	list-style: none;
}

.zc li{
	height: 4.65rem;
	line-height: 4.65rem;
	font-size: 1rem;
	text-align: center;
	color: #fff;
}


.xinwen li{
	font-size: 1rem;
	line-height: 4rem;
}

.rm li{
	width: 25%;
	float: left;
	text-align: center;
}

.rm li img{
	
	border-radius: 50%;
	width: 100%;
}


.xw{
	
	background-color: #fff;
	overflow: hidden;
}

.biankuang{
	border: 1px solid #000;
}

a{
	text-decoration:none;
	color: #fff;
}